@charset "utf-8";

html{
  overflow-y:scroll; 
  overflow-x:hidden;
  scroll-behavior: smooth;
  }

*, *::before, *::after{
  box-sizing:border-box;
  -webkit-box-sizing: inherit;
  }

*, *::before, *::after{transition:all .3s ease-in-out;}

html, body{
  margin:0; 
  padding:0; 
  font-size:14px; 
  line-height:1.6em;
  }


address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}

nav{
  background-color: transparent;
  box-shadow: none;
}

#leafy{
  color: rgba(76,175,80);
}

div{
  display: block;
}

summary :hover{
transition: 1s;
color : white;
background: darkgreen;
}

.brand-logo{
  font-family:Georgia, "Times New Roman", Times, serif;
  margin:0;
  padding:0; 
  font-size:2.2rem; 
  text-transform:uppercase;
}

body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}
h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}

#pageintro .heading{
  font-size: 2rem;
  text-align: center;
  color: white;
}


#pageintro article, #pageintro article p{
  display:block;
  max-width:75%;
  margin:0 auto;
  text-align:center;
}
#pageintro article p{
  max-width:65%;
  line-height:2rem;
}

#pageintro{padding:100px 0 100px;}

.bg{
  background-position:top center; 
  background-repeat:no-repeat; 
  background-size:cover;
  padding-bottom: 100px;
}

.overlay{position:relative; z-index:1;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.wrapper{
  display:block; 
  position:relative; 
  width:100%; 
  margin:0; 
  padding:0; 
  text-align:left; 
  word-wrap:break-word;
}

.row3{color:#474747; background-color:#FFFFFF;}

.hoc{
  display:block; 
  margin:0 auto;
}

.container1{padding:80px 0;}

#introblocks{display:block; position:relative; margin:-180px 0 0 0; z-index:1; text-align:center;}/* 180px => 100px + container padding */
#introblocks figure{}
#introblocks figure figcaption{display:block; padding:30px 0 0 0; text-align:center;}
#introblocks figure figcaption > a{}
#introblocks figure figcaption .heading{font-size:1.2rem; font-weight:700; margin-bottom:0;}
#introblocks figure figcaption .heading.underline::after{left:50%; margin-left:-12%;}


.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 4.21052%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:21.8421%;}
.one_third{width:30.52631%;}
.one_half, .two_quarter{width:47.89473%;}
.two_third{width:65.26315%;}
.three_quarter{width:73.94736%;}

.nospace{margin:0; padding:0; list-style:none;}
.heading.nospace{margin-bottom:0;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}
.imgover{display:inline-block; position:relative; max-width:100%;}
.imgover::before, .imgover::after{display:block; position:absolute; content:""; text-align:center; opacity:0;}
.imgover::before{top:0; right:0; bottom:0; left:0;}
.imgover:hover::before, .imgover:hover::after{opacity:1;}

.imgover:hover::before{background-color:rgba(76,175,80,.5);/* #FBAB45 */}
.imgover, .imgover:hover::after{color:#FFFFFF;}

.btmspace-80{margin-bottom:80px;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

.searching{
  padding-top: 30px;
  padding-left: 0px;
  text-align: center;
}

.recipecards{margin-top: 0px;
}

#scrollBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: rgba(76,175,80);
  
}

#loginbtn{padding-top: 15px;}
#loginbtn2{padding-top: 15px; margin-bottom: 20px;}

.excchip{background-color: #e57373}
.incchip{background-color: #81c784}

#helpbtn{background-color: rgba(76,175,80,.5); margin-top: 50px}

.searchrow{}

#opbtn{background-color: rgba(76,175,80); margin-bottom: 30px;}
#mgbtn{background-color: rgba(76,175,80); margin-bottom: 30px;}
#searchbtn{margin-bottom: 30px;}
#incbtn{margin-top: 20px; margin-left: 180px; position: absolute;}
#excbtn{margin-top: 20px; margin-left: 180px; position: absolute;}

#details{color: rgba(76,175,80);}

.workout{text-align: center;}

#weight_inline{width: 60px;}
#height_inline{width: 60px;}
#calcbtn{margin-bottom: 30px;}
#foodredir{color: rgba(76,175,80); text-decoration: underline; margin-bottom: 30px;}

footer{padding: 1px; background-color: rgb(31, 32, 31); text-align: left; color: white; text-indent: 10px;}
#edamama{display: block; text-align: center; padding-bottom: 20px; padding-top: 30px;}
summary{text-align: center;}
details{text-align: center;}



/*Computer*/
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
  .brand-logo{margin-left: 20px;}
  #opbtn{align-content: center;}
  #mgbtn{align-content: center;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}

@-ms-viewport{width:device-width;}

/*Mobile View*/
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#header{padding:30px 0;}
	#header #logo{margin-top:0;}

  #opbtn{align-content: center}
  #mgbtn{align-content: center}
  .searchrow{margin-right: 30px;}

	#breadcrumb{}

	.container{}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

	#pageintro article, #pageintro article p{max-width:none;}
	#pageintro .heading{font-size:2rem;}

	.sectiontitle{max-width:none;}
	
	#introblocks > ul{margin:0 auto 80px;}
	#introblocks > ul, #latest article{max-width:348px;}/* Restrict the width to the one_third grid element */
	#introblocks > ul > li, #overview li:nth-last-child(-n+3){margin-bottom:50px;}
	#introblocks > ul > li:last-child, #overview li:last-child{margin-bottom:0;}

	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li:last-child{margin-bottom:0;}
	#footer .latestimg > li img{width:auto;}
}
